
.find-plot-div {
  display: none;
}
.plot-site {
  display: none;
}
.jumbotron {
  margin-top: 10px;
}
/*#map {
  /*display: none;*/
/*}*/
#plot-title {
  text-align: center;
  display: none;
}
body {
  color: black;
}
